@use 'assets/scss/mixins/text' as *;

.text-h1 {
    @include text-h1;
}

.text-h2 {
    @include text-h2;
}

.text-h3 {
    @include text-h3;
}

.text-h4 {
    @include text-h4;
}

.text-h5 {
    @include text-h5;
}

.text-h6 {
    @include text-h6;
}

// Body
.text-body-lg {
    @include text-body-lg;
}

.text-body-md {
    @include text-body-md;
}

.text-body-sm {
    @include text-body-sm;
}

.text-body-xs {
    @include text-body-xs;
}

// OverTitle
.text-over-title-md {
    @include text-over-title-md;
}

.text-over-title-sm {
    @include text-over-title-sm;
}

// Components
.text-tag-md {
    @include text-tag-md;
}
