@use 'assets/scss/mixins/theme' as *;
@use 'assets/scss/variables/themes' as *;

:root  {
    @include theme($default-theme);

    background-color: var(--theme-color-background);
    color: var(--theme-color-on-background);
}
