// Export variables from variable2css figma plugin
// https://www.figma.com/community/plugin/1261234393153346915/variables2css

/* Value */

/* color */
$colors-basic-green: #31b29b;
$colors-basic-orange: #f6603f;
$colors-basic-red: #e14040;
$colors-basic-red-10: #e140401a;
$colors-black-10: #0101011a;
$colors-black-100: #010101;
$colors-black-15: #01010126;
$colors-black-20: #01010133;
$colors-black-30: #0101014d;
$colors-black-40: #01010166;
$colors-black-5: #0101010d;
$colors-black-50: #01010180;
$colors-black-60: #01010199;
$colors-black-70: #010101b2;
$colors-black-80: #010101cc;
$colors-brand-blue: #1064ff;
$colors-brand-blue-light: #d3e0ff;
$colors-brand-green: #65ffbc;
$colors-brand-green-light: #c0ffe4;
$colors-brand-orange: #ff8255;
$colors-brand-orange-light: #ffdfd3;
$colors-brand-pink: #ff1060;
$colors-brand-pink-light: #ffd6e4;
$colors-brand-purple: #6358ff;
$colors-brand-purple-light: #d4d1ff;
$colors-gray-100: #f5f5f5;
$colors-gray-200: #efefef;
$colors-gray-300: #d1d1d1;
$colors-gray-400: #a9a9a9;
$colors-gray-50: #fafafa;
$colors-gray-500: #898989;
$colors-gray-600: #616161;
$colors-gray-700: #4f4f4f;
$colors-gray-800: #313131;
$colors-gray-900: #272727;
$colors-white-10: #ffffff1a;
$colors-white-100: #fff;
$colors-white-15: #ffffff26;
$colors-white-20: #fff3;
$colors-white-30: #ffffff4d;
$colors-white-40: #fff6;
$colors-white-5: #ffffff0d;
$colors-white-50: #ffffff80;
$colors-white-60: #fff9;
$colors-white-70: #ffffffb2;
$colors-white-80: #fffc;