@use './colors' as *;

// Export themes from variable2css figma plugin
// https://www.figma.com/community/plugin/1261234393153346915/variables2css

// Generated output is sass, need to convert to scss
// CMD f + CMD r could help

/* 3-Theme */
$themes: (
    light: (
        /* color */
        colors-anchor-border: $colors-black-20,
        colors-anchor-border-hover: $colors-black-100,
        colors-anchor-content: $colors-black-100,
        colors-anchor-content-hover: $colors-black-100,
        colors-brand-primary-blue: $colors-brand-blue,
        colors-brand-primary-blue-light: $colors-brand-blue-light,
        colors-brand-primary-green: $colors-brand-green,
        colors-brand-primary-green-light: $colors-brand-green-light,
        colors-brand-primary-orange: $colors-brand-orange,
        colors-brand-primary-orange-light: $colors-brand-orange-light,
        colors-brand-primary-pink: $colors-brand-pink,
        colors-brand-primary-pink-light: $colors-brand-pink-light,
        colors-brand-primary-purple: $colors-brand-purple,
        colors-brand-primary-purple-light: $colors-brand-purple-light,
        colors-breadcrumb-border: $colors-black-20,
        colors-breadcrumb-border-hover: $colors-black-50,
        colors-breadcrumb-border-selected: $colors-black-100,
        colors-breadcrumb-content: $colors-black-100,
        colors-breadcrumb-content-hover: $colors-black-100,
        colors-button-basic-high-bg: $colors-black-100,
        colors-button-basic-high-bg-disable: $colors-gray-200,
        colors-button-basic-high-bg-hover: $colors-white-100,
        colors-button-basic-high-border-hover: $colors-black-100,
        colors-button-basic-high-content: $colors-white-100,
        colors-button-basic-high-content-disable: $colors-gray-500,
        colors-button-basic-high-content-hover: $colors-black-100,
        colors-button-basic-low-border: $colors-black-30,
        colors-button-basic-low-border-hover: $colors-black-100,
        colors-button-basic-low-content: $colors-black-100,
        colors-button-basic-low-content-disable: $colors-gray-500,
        colors-button-basic-low-content-hover: $colors-black-100,
        colors-button-basic-medium-border: $colors-black-30,
        colors-button-basic-medium-border-disable: $colors-gray-500,
        colors-button-basic-medium-border-hover: $colors-black-100,
        colors-button-basic-medium-content: $colors-black-100,
        colors-button-basic-medium-content-disable: $colors-gray-500,
        colors-button-basic-medium-content-hover: $colors-black-100,
        colors-button-icon-high-bg: $colors-black-100,
        colors-button-icon-high-bg-disable: $colors-gray-200,
        colors-button-icon-high-bg-hover: $colors-white-100,
        colors-button-icon-high-border-hover: $colors-black-100,
        colors-button-icon-high-content: $colors-white-100,
        colors-button-icon-high-content-disable: $colors-gray-500,
        colors-button-icon-high-content-hover: $colors-black-100,
        colors-button-icon-low-bg-hover: $colors-gray-200,
        colors-button-icon-low-content: $colors-black-100,
        colors-button-icon-low-content-disable: $colors-gray-500,
        colors-button-icon-low-content-hover: $colors-black-100,
        colors-button-icon-medium-bg: $colors-black-5,
        colors-button-icon-medium-bg-disable: $colors-gray-200,
        colors-button-icon-medium-bg-hover: $colors-black-100,
        colors-button-icon-medium-content: $colors-black-100,
        colors-button-icon-medium-content-disable: $colors-gray-500,
        colors-button-icon-medium-content-hover: $colors-white-100,
        colors-button-media-bg: $colors-white-100,
        colors-button-media-bg-hover: $colors-gray-200,
        colors-button-media-bg-selected: $colors-black-100,
        colors-button-media-content: $colors-black-100,
        colors-button-media-content-hover: $colors-black-100,
        colors-button-media-content-selected: $colors-white-100,
        colors-button-text-border: $colors-black-20,
        colors-button-text-border-hover: $colors-black-100,
        colors-button-text-border-selected: $colors-black-60,
        colors-button-text-content: $colors-black-100,
        colors-button-text-content-hover: $colors-black-100,
        colors-button-text-content-selected: $colors-black-100,
        colors-button-ticketing-bg: $colors-black-100,
        colors-button-ticketing-bg-hover: $colors-black-100,
        colors-button-ticketing-border: $colors-white-80,
        colors-button-ticketing-content: $colors-white-100,
        colors-button-ticketing-content-hover: $colors-white-100,
        colors-chip-bg: $colors-white-100,
        colors-chip-bg-hover: $colors-white-100,
        colors-chip-bg-selected: $colors-gray-200,
        colors-chip-bg-selected-hover: $colors-gray-200,
        colors-chip-border: $colors-black-20,
        colors-chip-border-hover: $colors-black-100,
        colors-chip-border-selected: $colors-black-20,
        colors-chip-border-selected-hover: $colors-black-100,
        colors-chip-content: $colors-black-100,
        colors-chip-content-hover: $colors-black-100,
        colors-chip-content-selected: $colors-black-100,
        colors-chip-content-selected-hover: $colors-black-100,
        colors-content-link-hover: $colors-gray-600,
        colors-content-primary: $colors-black-100,
        colors-content-primary-inverted: $colors-white-100,
        colors-content-primary-static: $colors-black-100,
        colors-content-secondary: $colors-gray-700,
        colors-content-secondary-inverted: $colors-gray-200,
        colors-control-bg-hover: $colors-black-10,
        colors-control-content: $colors-black-80,
        colors-control-content-disabled: $colors-black-20,
        colors-control-content-hover: $colors-black-100,
        colors-control-content-selected: $colors-black-100,
        colors-copyright-background-selected: $colors-white-100,
        colors-copyright-bg: $colors-white-100,
        colors-copyright-bg-hover: $colors-white-100,
        colors-copyright-border: $colors-black-20,
        colors-copyright-border-dialog: $colors-black-15,
        colors-copyright-content: $colors-black-100,
        colors-download-bg: $colors-gray-100,
        colors-download-content: $colors-black-100,
        colors-filter-bg-selected-hover: $colors-black-10,
        colors-filter-border: $colors-black-20,
        colors-filter-border-hover: $colors-black-100,
        colors-filter-border-selected: $colors-black-100,
        colors-filter-content: $colors-black-100,
        colors-filter-content-hover: $colors-black-100,
        colors-filter-content-selected: $colors-black-100,
        colors-form-basic-bg: $colors-gray-100,
        colors-form-basic-bg-focus: $colors-gray-200,
        colors-form-basic-bg-hover: $colors-gray-100,
        colors-form-basic-bg-popover: $colors-white-100,
        colors-form-basic-border: $colors-black-20,
        colors-form-basic-border-focus: $colors-black-100,
        colors-form-basic-border-hover: $colors-black-60,
        colors-form-basic-input-text: $colors-black-100,
        colors-form-basic-input-text-disabled: $colors-black-50,
        colors-form-basic-label: $colors-black-100,
        colors-form-basic-label-bg: $colors-white-100,
        colors-form-basic-label-inactive: $colors-black-70,
        colors-form-basic-placeholder: $colors-black-50,
        colors-form-basic-supporting-text: $colors-black-60,
        colors-form-calendar-bg: $colors-white-100,
        colors-form-calendar-bg-hover: $colors-gray-100,
        colors-form-calendar-bg-pressed: $colors-gray-200,
        colors-form-calendar-bg-selected: $colors-black-100,
        colors-form-calendar-bg-selected-hover: $colors-gray-700,
        colors-form-calendar-bg-selected-pressed: $colors-black-100,
        colors-form-calendar-border-today: $colors-black-100,
        colors-form-calendar-label: $colors-black-100,
        colors-form-calendar-label-hover: $colors-black-100,
        colors-form-calendar-label-old: $colors-black-40,
        colors-form-calendar-label-pressed: $colors-black-100,
        colors-form-calendar-label-selected: $colors-white-100,
        colors-form-calendar-label-today: $colors-black-100,
        colors-form-calendar-scrollbar: $colors-gray-200,
        colors-form-calendar-scrollbar-hover: $colors-black-100,
        colors-form-checkbox-radio-bg-hover: $colors-gray-100,
        colors-form-checkbox-radio-bg-pressed: $colors-gray-200,
        colors-form-checkbox-radio-bg-selected: $colors-black-100,
        colors-form-checkbox-radio-border: $colors-black-100,
        colors-form-checkbox-radio-border-disabled: $colors-gray-400,
        colors-form-control-bg: $colors-gray-100,
        colors-form-control-bg-disable: $colors-gray-100,
        colors-form-control-bg-hover: $colors-black-100,
        colors-form-control-icon: $colors-black-100,
        colors-form-control-icon-disable: $colors-gray-500,
        colors-form-control-icon-hover: $colors-white-100,
        colors-form-state-alert: $colors-basic-red,
        colors-form-state-alert-bg: $colors-basic-red-10,
        colors-form-state-success: $colors-basic-green,
        colors-form-state-warning: $colors-basic-orange,
        colors-line-primary: $colors-black-20,
        colors-line-primary-hover: $colors-black-80,
        colors-line-primary-inverted: $colors-white-30,
        colors-line-primary-selected: $colors-black-100,
        colors-line-secondary: $colors-black-15,
        colors-line-secondary-inverted: $colors-white-15,
        colors-media-player-bar: $colors-white-20,
        colors-media-player-bar-selected: $colors-white-100,
        colors-media-player-bg: $colors-black-30,
        colors-media-player-bg-item-hover: $colors-black-50,
        colors-media-player-content: $colors-white-100,
        colors-menu-bg: $colors-white-100,
        colors-menu-border: $colors-gray-300,
        colors-menu-border-hover: $colors-black-100,
        colors-menu-content: $colors-black-100,
        colors-menu-content-hover: $colors-gray-600,
        colors-menu-content-off: $colors-gray-500,
        colors-menu-content-selected: $colors-black-100,
        colors-pagination-content: $colors-black-100,
        colors-pagination-content-hover: $colors-black-100,
        colors-pagination-content-selected: $colors-black-100,
        colors-popover-bg: $colors-white-100,
        colors-popover-bg-hover: $colors-gray-50,
        colors-popover-bg-pressed: $colors-gray-100,
        colors-popover-border: $colors-black-10,
        colors-popover-content: $colors-black-100,
        colors-popover-scrollbar: $colors-gray-200,
        colors-popover-scrollbar-hover: $colors-black-100,
        colors-surface-overlay: $colors-black-60,
        colors-surface-overlay-media: $colors-black-5,
        colors-surface-primary: $colors-white-100,
        colors-surface-primary-inverted: $colors-black-100,
        colors-surface-secondary: $colors-gray-50,
        colors-surface-tertiary: $colors-gray-100,
        colors-tab-border: $colors-black-20,
        colors-tab-border-hover: $colors-black-100,
        colors-tab-border-selected: $colors-black-100,
        colors-tab-content: $colors-black-100,
        colors-tab-content-hover: $colors-black-100,
        colors-tab-content-selected: $colors-black-100,
        colors-tag-bg: $colors-gray-100,
        colors-tag-bg-hover: $colors-white-100,
        colors-tag-border: $colors-black-10,
        colors-tag-border-hover: $colors-black-100,
        colors-tag-content: $colors-black-100,
        colors-tag-content-hover: $colors-black-100,
    ),
    dark: (
        /* color */
        colors-anchor-border: $colors-white-20,
        colors-anchor-border-hover: $colors-white-100,
        colors-anchor-content: $colors-white-100,
        colors-anchor-content-hover: $colors-white-100,
        colors-brand-primary-blue: $colors-brand-blue,
        colors-brand-primary-blue-light: $colors-brand-blue-light,
        colors-brand-primary-green: $colors-brand-green,
        colors-brand-primary-green-light: $colors-brand-green-light,
        colors-brand-primary-orange: $colors-brand-orange,
        colors-brand-primary-orange-light: $colors-brand-orange-light,
        colors-brand-primary-pink: $colors-brand-pink,
        colors-brand-primary-pink-light: $colors-brand-pink-light,
        colors-brand-primary-purple: $colors-brand-purple,
        colors-brand-primary-purple-light: $colors-brand-purple-light,
        colors-breadcrumb-border: $colors-white-20,
        colors-breadcrumb-border-hover: $colors-white-50,
        colors-breadcrumb-border-selected: $colors-white-100,
        colors-breadcrumb-content: $colors-white-100,
        colors-breadcrumb-content-hover: $colors-white-100,
        colors-button-basic-high-bg: $colors-white-100,
        colors-button-basic-high-bg-disable: $colors-gray-200,
        colors-button-basic-high-bg-hover: $colors-black-100,
        colors-button-basic-high-border-hover: $colors-white-100,
        colors-button-basic-high-content: $colors-black-100,
        colors-button-basic-high-content-disable: $colors-gray-500,
        colors-button-basic-high-content-hover: $colors-white-100,
        colors-button-basic-low-border: $colors-white-30,
        colors-button-basic-low-border-hover: $colors-white-100,
        colors-button-basic-low-content: $colors-white-100,
        colors-button-basic-low-content-disable: $colors-gray-500,
        colors-button-basic-low-content-hover: $colors-white-100,
        colors-button-basic-medium-border: $colors-white-30,
        colors-button-basic-medium-border-disable: $colors-gray-500,
        colors-button-basic-medium-border-hover: $colors-white-100,
        colors-button-basic-medium-content: $colors-white-100,
        colors-button-basic-medium-content-disable: $colors-gray-500,
        colors-button-basic-medium-content-hover: $colors-white-100,
        colors-button-icon-high-bg: $colors-white-100,
        colors-button-icon-high-bg-disable: $colors-gray-200,
        colors-button-icon-high-bg-hover: $colors-black-100,
        colors-button-icon-high-border-hover: $colors-white-100,
        colors-button-icon-high-content: $colors-black-100,
        colors-button-icon-high-content-disable: $colors-gray-500,
        colors-button-icon-high-content-hover: $colors-white-100,
        colors-button-icon-low-bg-hover: $colors-gray-800,
        colors-button-icon-low-content: $colors-white-100,
        colors-button-icon-low-content-disable: $colors-gray-500,
        colors-button-icon-low-content-hover: $colors-white-100,
        colors-button-icon-medium-bg: $colors-white-5,
        colors-button-icon-medium-bg-disable: $colors-gray-200,
        colors-button-icon-medium-bg-hover: $colors-white-100,
        colors-button-icon-medium-content: $colors-white-100,
        colors-button-icon-medium-content-disable: $colors-gray-500,
        colors-button-icon-medium-content-hover: $colors-black-100,
        colors-button-media-bg: $colors-white-100,
        colors-button-media-bg-hover: $colors-gray-200,
        colors-button-media-bg-selected: $colors-black-100,
        colors-button-media-content: $colors-black-100,
        colors-button-media-content-hover: $colors-black-100,
        colors-button-media-content-selected: $colors-white-100,
        colors-button-text-border: $colors-white-30,
        colors-button-text-border-hover: $colors-white-100,
        colors-button-text-border-selected: $colors-white-60,
        colors-button-text-content: $colors-white-100,
        colors-button-text-content-hover: $colors-white-100,
        colors-button-text-content-selected: $colors-white-100,
        colors-button-ticketing-bg: $colors-white-100,
        colors-button-ticketing-bg-hover: $colors-white-100,
        colors-button-ticketing-border: $colors-black-80,
        colors-button-ticketing-content: $colors-black-100,
        colors-button-ticketing-content-hover: $colors-black-100,
        colors-chip-bg: $colors-black-100,
        colors-chip-bg-hover: $colors-black-100,
        colors-chip-bg-selected: $colors-gray-800,
        colors-chip-bg-selected-hover: $colors-gray-800,
        colors-chip-border: $colors-white-20,
        colors-chip-border-hover: $colors-white-100,
        colors-chip-border-selected: $colors-white-20,
        colors-chip-border-selected-hover: $colors-white-100,
        colors-chip-content: $colors-white-100,
        colors-chip-content-hover: $colors-white-100,
        colors-chip-content-selected: $colors-white-100,
        colors-chip-content-selected-hover: $colors-white-100,
        colors-content-link-hover: $colors-gray-200,
        colors-content-primary: $colors-white-100,
        colors-content-primary-inverted: $colors-black-100,
        colors-content-primary-static: $colors-black-100,
        colors-content-secondary: $colors-gray-300,
        colors-content-secondary-inverted: $colors-gray-800,
        colors-control-bg-hover: $colors-black-100,
        colors-control-content: $colors-white-80,
        colors-control-content-disabled: $colors-white-30,
        colors-control-content-hover: $colors-white-100,
        colors-control-content-selected: $colors-white-100,
        colors-copyright-background-selected: $colors-black-100,
        colors-copyright-bg: $colors-black-100,
        colors-copyright-bg-hover: $colors-black-100,
        colors-copyright-border: $colors-white-20,
        colors-copyright-border-dialog: $colors-white-15,
        colors-copyright-content: $colors-white-100,
        colors-download-bg: $colors-gray-700,
        colors-download-content: $colors-white-100,
        colors-filter-bg-selected-hover: $colors-white-80,
        colors-filter-border: $colors-white-30,
        colors-filter-border-hover: $colors-white-100,
        colors-filter-border-selected: $colors-white-100,
        colors-filter-content: $colors-white-100,
        colors-filter-content-hover: $colors-white-100,
        colors-filter-content-selected: $colors-white-100,
        colors-form-basic-bg: $colors-gray-800,
        colors-form-basic-bg-focus: $colors-gray-700,
        colors-form-basic-bg-hover: $colors-gray-800,
        colors-form-basic-bg-popover: $colors-black-100,
        colors-form-basic-border: $colors-white-20,
        colors-form-basic-border-focus: $colors-white-100,
        colors-form-basic-border-hover: $colors-white-60,
        colors-form-basic-input-text: $colors-white-100,
        colors-form-basic-input-text-disabled: $colors-white-50,
        colors-form-basic-label: $colors-white-100,
        colors-form-basic-label-bg: $colors-gray-800,
        colors-form-basic-label-inactive: $colors-white-70,
        colors-form-basic-placeholder: $colors-white-50,
        colors-form-basic-supporting-text: $colors-white-60,
        colors-form-calendar-bg: $colors-black-100,
        colors-form-calendar-bg-hover: $colors-gray-800,
        colors-form-calendar-bg-pressed: $colors-gray-700,
        colors-form-calendar-bg-selected: $colors-white-100,
        colors-form-calendar-bg-selected-hover: $colors-gray-200,
        colors-form-calendar-bg-selected-pressed: $colors-white-100,
        colors-form-calendar-border-today: $colors-white-100,
        colors-form-calendar-label: $colors-white-100,
        colors-form-calendar-label-hover: $colors-white-100,
        colors-form-calendar-label-old: $colors-white-40,
        colors-form-calendar-label-pressed: $colors-white-100,
        colors-form-calendar-label-selected: $colors-black-100,
        colors-form-calendar-label-today: $colors-white-100,
        colors-form-calendar-scrollbar: $colors-gray-600,
        colors-form-calendar-scrollbar-hover: $colors-white-100,
        colors-form-checkbox-radio-bg-hover: $colors-gray-800,
        colors-form-checkbox-radio-bg-pressed: $colors-gray-700,
        colors-form-checkbox-radio-bg-selected: $colors-white-100,
        colors-form-checkbox-radio-border: $colors-white-100,
        colors-form-checkbox-radio-border-disabled: $colors-gray-600,
        colors-form-control-bg: $colors-gray-800,
        colors-form-control-bg-disable: $colors-gray-800,
        colors-form-control-bg-hover: $colors-white-100,
        colors-form-control-icon: $colors-white-100,
        colors-form-control-icon-disable: $colors-gray-500,
        colors-form-control-icon-hover: $colors-black-100,
        colors-form-state-alert: $colors-basic-red,
        colors-form-state-alert-bg: $colors-basic-red-10,
        colors-form-state-success: $colors-basic-green,
        colors-form-state-warning: $colors-basic-orange,
        colors-line-primary: $colors-white-30,
        colors-line-primary-hover: $colors-white-80,
        colors-line-primary-inverted: $colors-black-30,
        colors-line-primary-selected: $colors-white-100,
        colors-line-secondary: $colors-white-15,
        colors-line-secondary-inverted: $colors-black-15,
        colors-media-player-bar: $colors-white-20,
        colors-media-player-bar-selected: $colors-white-100,
        colors-media-player-bg: $colors-black-30,
        colors-media-player-bg-item-hover: $colors-black-50,
        colors-media-player-content: $colors-white-100,
        colors-menu-bg: $colors-black-100,
        colors-menu-border: $colors-gray-700,
        colors-menu-border-hover: $colors-white-100,
        colors-menu-content: $colors-white-100,
        colors-menu-content-hover: $colors-gray-300,
        colors-menu-content-off: $colors-gray-500,
        colors-menu-content-selected: $colors-white-100,
        colors-pagination-content: $colors-white-100,
        colors-pagination-content-hover: $colors-white-100,
        colors-pagination-content-selected: $colors-white-100,
        colors-popover-bg: $colors-black-100,
        colors-popover-bg-hover: $colors-gray-800,
        colors-popover-bg-pressed: $colors-gray-700,
        colors-popover-border: $colors-white-10,
        colors-popover-content: $colors-white-100,
        colors-popover-scrollbar: $colors-gray-600,
        colors-popover-scrollbar-hover: $colors-white-100,
        colors-surface-overlay: $colors-black-60,
        colors-surface-overlay-media: $colors-black-5,
        colors-surface-primary: $colors-black-100,
        colors-surface-primary-inverted: $colors-white-100,
        colors-surface-secondary: $colors-gray-800,
        colors-surface-tertiary: $colors-gray-700,
        colors-tab-border: $colors-white-20,
        colors-tab-border-hover: $colors-white-100,
        colors-tab-border-selected: $colors-white-100,
        colors-tab-content: $colors-white-100,
        colors-tab-content-hover: $colors-white-100,
        colors-tab-content-selected: $colors-white-100,
        colors-tag-bg: $colors-gray-700,
        colors-tag-bg-hover: $colors-black-100,
        colors-tag-border: $colors-white-10,
        colors-tag-border-hover: $colors-white-100,
        colors-tag-content: $colors-white-100,
        colors-tag-content-hover: $colors-white-100,
    ),
);
$default-theme: light;
