// Exported from variable2css figma plugin
// https://www.figma.com/community/plugin/1261234393153346915/variables2css

$themes: (
    light: (
        color-primary: #FF7C60,
        color-on-primary: #05000D,

        color-background: #FAFAFA,
        color-on-background: #05000D,

        color-line: #454652,
    ),
    dark: (
        color-primary: #FF7C60,
        color-on-primary: #05000D,

        color-background: #161A2B,
        color-on-background: #FFF4EF,

        color-line: #fff4ef1a,
    ),
);
$default-theme: light;
